handheld_tracker.kicad_prl
fp-info-cache
**fp-lib-table
_autosave-hand_power.kicad_sch
handheld_tracker-backups
# boards/handheld_tracker/_autosave**
boards/handheld_tracker/**autosave**
boards/handheld_tracker/**auto_save**
**.lck